.li_wrapper {
    width: 80%;
    padding: 0%;
    background: white;
    border: .1rem solid #e6e6e6;
    border-radius: .3rem;
    margin: 0;
    margin-bottom: 6rem;
}

.title {
    text-align: left;
    font-size: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;
}

.title>* {
    padding: 1rem;
}

.title>img {
    width: 4rem;
    border-radius: 50%;
}

.postImage {
    width: 100%;
}

.postImage>img {
    width: 100%;
    object-fit: cover;
}

.comment_component {
    text-align: left;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.likes_total {
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
}